<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project22.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/travel"
        android:label="@string/app_name"
        android:roundIcon="@drawable/travel"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelMate">

        <activity android:name=".authentication.OverViewAuth"
            android:exported="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".authentication.SignUpActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>